$navbar-default-bg: #073B15;
$navbar-default-text: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";
.center {
  text-align: center;
  
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
  color: red;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

  #logo:hover {
   color: #fff;
   text-decoration: none;
    
  }
  
  .jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
  
  .jumbotron h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    
  }
  
  .btn-xlarge {
    background-color: #073B15;
  }
  
  .btn-xlarge:hover {
    color: #c2c2d6;
    text-decoration: none;
  }